<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Mis à jour</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"  />
        <link rel="stylesheet" type="text/css"  href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}" />
    </head>
    <body>
        <div class="container spacer">
            <div class="col-md-6 col-md-offset-3"><br>
                <div class="panel panel-primary">
                    <div class="panel-heading">Formulaire d'enregistrement</div>
                    <div class="panel-body">
                        <form th:action="@{updateEtudiant}" method="POST" th:object="${etudiant}" enctype="multipart/form-data">
                           <div class="form-group">
                                <label class="control-label">Id</label>
                                <input type ="hidden" name="id" th:field="*{id}" class="form-control"/>
                                <span th:errors="*{id}" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nom</label>
                                <input type ="text" name="nom" th:field="*{nom}" class="form-control"/>
                                <span th:errors="*{nom}" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date de naissance</label>
                                <input type ="Date" name="dateNaissance" th:field="*{dateNaissance}" class="form-control"/>
                                <span th:errors="*{dateNaissance}" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type ="text" name="email" th:field="*{email}" class="form-control"/>
                                <span th:errors="*{email}" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Photo</label>
                                <input type ="file" name="picture"  class="form-control"/>
                                <span th:errors="*{photo}" class="text-danger"></span>
                                <img class ="img-circle" th:src="@{getPhoto(id=${etudiant.id})}" width="100" height="100"/> 
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
